body {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  margin: 0;

  font-family: Helvetica, sans-serif;
}

.bar {
  transition: .3s all ease;

  border-radius: 5px;

  fill: #edf0f4;
}

.bar:hover {
  cursor: pointer;
}

.active {
  fill: #6A2C70;
}


/* .bar-chart .bar:nth-of-type(2):hover {
  fill: rgb(81, 34, 85);
} */


.donut-chart {
  margin-left: 50px;
}

.label {
  width: 100px;

  text-align: right;

  font-size: 11px;

  fill: #505D6F;
}

.label:first-letter {
  text-transform: uppercase;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.4;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

h1 {
  color: #505D6F;

  font-size: 24px;
}

p {
  color: #9AA1A9;

  font-size: 16px;
}

.bar-chart svg {
  margin-top: 20px;
}

.bar-chart p, .bar-chart h1 {
  margin-left: 100px;
}

.donut-title {
  text-transform: capitalize;

  font-size: 18px;
  font-weight: bold;

  fill: #505D6F;
}

.donut-chart .donut-sub-title {
  font-size: 14px;

  fill: #9AA1A9;
}

.legend-label {
  font-size: 12px;

  fill: #505D6F;
}

.x-axis line {
  stroke: #E9EBF1;
}